.launches-wrapper .padded {
	padding:  6rem 0;
}

.launches-wrapper .read-more {
	background-color: #f2f2f2;
}

.launches-wrapper .video .video-wrapper {
	position:  relative;
	padding-bottom:  56.25%; /* 16:9 ratio */
	height:  0;
}

.launches-wrapper .video .video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}