<%- include('../partials/start') %>

    <main>
        <%- include('../partials/header') %>

        <section>
            <div class="container py-5">
                <h1>About Page</h1>

                <p>This is the about page.</p>

                <ul>
                    <% facts.forEach(function(fact) { %>
                        <li><%= fact %></li>
                    <% }); %>
                </ul>
            </div>
        </section>
    </main>

<%- include('../partials/end') %>