<%- include('../partials/start') %>

    <main>
        <%- include('../partials/header') %>

        <section class="contact-wrapper">
            <div class="container py-5">
                <h1>Contact</h1>

                <div class="row">
                    <div class="col-lg-3">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>

                    <div class="col-lg-9">
                        <div class="form-wrapper">
                            <form action="/contact" method="POST">
                                <div class="form-group">
                                    <label for="name">Name:</label>

                                    <input class="form-control" type="text" id="name" name="name">
                                </div>

                                <div class="form-group">
                                    <label for="email">Email:</label>

                                    <input class="form-control" type="text" id="email" name="email">
                                </div>

                                <div class="form-group">
                                    <label for="message">Message:</label>

                                    <textarea class="form-control" rows="6" id="message" name="message"></textarea>
                                </div>

                                <div class="form-group">
                                    <button class="button" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

<%- include('../partials/end') %>