<%- include('../partials/start') %>

    <main>
        <%- include('../partials/header') %>

        <section class="content pt-5">
            <div class="container">
                <h1>Thank you, I'll be in touch soon!</h1>
            </div>
        </section>
    </main>

<%- include('../partials/end') %>