header {
	background-color: #ccc;
}

header h1 {
	margin-bottom: 0;
}

header a {
	color:  white;
}

header .navbar-brand:hover {
	color:  rebeccapurple;
}

header .nav-link {
	color:  white;
}

header .nav-link:hover {
	background-color: #aaa;
	color:  rebeccapurple;
}

header .nav-link.active {
	color: rebeccapurple;
}